.menu{
    display : flex;
    justify-content: space-around;
    background-color: white;
    margin-bottom : 1%;
    border-bottom: 2px solid #004080;
}

.menu a {
    color: #004080;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius : 8px;
}
.menu a:hover {
    background-color: #004080;
    color: white;
}